* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
}

#box1 {
    height: 300px;
    width: 300px;
    background-color: crimson;
}

#box2 {
    height: 300px;
    width: 300px;
    background-color: lightseagreen;
}

#box3 {
    height: 300px;
    width: 300px;
    background-color: white;
}
#box4 {
    height: 300px;
    width: 300px;
    background-color: pink;
}

h1{
    color:white
}


h2{
    color:white
}

#spacer{
    height:20px;
    padding: 10px;
}