* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
}

#string{
    height:200px;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    /* background-color: lightblue; */
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}